<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Successful</title>
</head>
<body>
<h1>Registration Successful</h1>
<p>Thank you for registering with our service. Your account has been successfully created.</p>
<p>Please click the following link to activate your account:</p>
<!--<p><a th:href="${verificationUrl}">Activate Account</a></p>-->
<p>If you did not request this registration, please ignore this email.</p>
</body>
</html>
